.pokemons {
  display: grid;
  grid-template-areas: "a a a a a a";
  grid-gap: 30px;
  min-height: 80vh;
  padding-top: 15px;
  position: relative;
}

.pages {
  margin: 5px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .pokemons {
    grid-template-areas: "a a a a";
  }
}

@media (max-width: 900px) {
  .pokemons {
    grid-template-areas: "a a a";
    grid-gap: 15px;
  }
}
