.pokemon {
  height: 170px;
  width: 130px;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  cursor: pointer;
}

.pokemon-details {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 100vw;
  height: 800px;
  background-color: pink;
}

.pokemon-name {
  font-size: 13px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  align-items: center;
}
