.pokemon-info-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(95, 95, 95);
  position: absolute;
  top: 20px;
  z-index: 1;
  width: 90vw;
  height: 90vh;
  background-color: rgb(219, 224, 224);
  border: 1px solid rgb(180, 180, 180);
  box-shadow: 0 8px 6px -6px rgb(100, 98, 98);
}

.pokemon-info-details-picture {
  width: 300px;
  height: 300px;
}

.pokemon-info-details-description,
.pokemon-info-details-picture-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
  font-size: 18px;
}

.pokemon-info-details_data {
  font-size: 14px;
  margin-top: 5px;
}

.pokemon-info-details__icon-exit {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: color 1s;
}

.pokemon-info-details__icon-exit:hover {
  color: rgb(170, 60, 60);
}

@media (max-width: 600px){
  .pokemon-info-details-picture {
    width: 200px;
    height: 200px;
  }
}